:root {
  --text: #262626;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  width: 935px;
  margin: 0 auto;
  flex-grow: 1;
  overflow: auto;
}



@media (max-width: 1200px) { 
  .content {
    width: 100%;
  }
}

.content--inner {
  padding: 0 1rem;
}

.brand-title {
  margin: 0;
  font-family: 'Cookie', cursive;
  font-weight: 400;
  font-size: 2rem;
}

.footer { 
  border-top: 1px solid #DBDBDB;
  height: 44px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.icon__link {
  padding: 0.5rem;
  cursor: pointer;
}

.profile-picture {
  border-radius: 50%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__links {
  gap: 0.25rem;
  display: flex;
}

.profile__header {
  height: 44px;
  display: flex;
  align-items: center;
}

.profile__title {
  margin: 0 0 0 1.5rem;
  font-size: 1rem;
  font-weight: 600;
}

.profile__profile-picture {
  border-radius: 50%;
  box-shadow: rgb(0 0 0 / 5%) 0px 0px 0px 1px, rgb(120 120 120) 0px 0px 0px 1px inset;
}

.profile__header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  height: 100px;
  margin: 1rem 0 0 0;
}

.profile__name {
  font-weight: 600;
}

.profile__description {
  font-size: 0.875rem;
  line-height: 18px;
}

.grid__header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding: 0.5rem 0;
}

.grid__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3px;
}

.post__link {
  width: 100%;
  position: relative;
  aspect-ratio: 1;
}

.header__user {
  display: flex;
}